*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Arial !important;
}
.header_container{
    width: 100%;
    height: 100px;
    display: flex;
}
.header_container header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
}
.header_container header .logo_container{
   border: 1px solid black;
   padding: 10px;
}
.header_container header nav{
    display: flex;
}
.header_container header nav ul{
  display: flex;
  width: 100%;
  gap: 30px;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
.header_container header nav ul li:last-child a{
    background-color: #ff7c00;
    padding: 10px;
    border-radius: 50px;
    color: #ffffff;
  }
  .header_container header nav ul li:last-child a:hover{
    background-color: #4287f5;
    color: white;
    transition-duration: 1s;
  }
.header_container header nav ul li a{
    text-decoration: none;
    color: #000000;
}
.header_container header nav ul li a:hover{
    color: #ff7c00;
}
.header_container header nav ul li .active{
    color: #ff7c00;
}